.navbar {
  overflow: hidden;
  background-color: #A7A37E;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #EFECCA;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #046380;
  color: #A7A37E;
}
.main {
	width: 80%;
    max-width: 500px;
    margin: auto;
    padding: 10px;
}
.buttons{
	width: 40%;
    margin: 30px;
    background: #EFECCA;
    padding: 10px;
	float:left;
}
.card{
	margin-left: 40%;
    margin: 30px;
    background: #EFECCA;
    padding: 10px;
}

body {
    background-color: #046380;
    margin:0;
}

h1 {
    color: #002F2F;
    margin-left: 20px;
}

.button {
    background-color: #E6E2AF;
    border: none;
    color: #002F2F;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
